h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink{
	background-color:pink;
}
.description{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin-left: 100px;
    width: 300px;
    text-align: left;
    
}

.city , .landmark , .states{
    border: 1px solid red;
    width: 600px;
  

}

